@font-face {
    font-family: 'From the Woods';
    src: url('fonts/FromtheWoods-Regular.woff2') format('woff2'),
        url('fonts/FromtheWoods-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

